<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false"/>
    <sectionGroup name="elmah">
      <!-- NOTE! If you are using ASP.NET 1.x then remove the
                 requirePermission="false" attribute from the section
                 elements below as those are only needed for
                 partially trusted applications in ASP.NET 2.0 -->
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
      <section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DbType" value="SQLServer"/>
    <add key="CommandTimeout" value="3600"/>
    <add key="BatchSize" value="1000"/>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="ProxyURLPath" value="http://localhost:1450/"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ReportingService.ReportService2010" value="http://localhost/ReportServer/ReportService2010.asmx"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="NawadataEntities" connectionString="metadata=res://*/DbObject.csdl|res://*/DbObject.ssdl|res://*/DbObject.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LAPTOP-26j301to\SQL2016;Initial Catalog=CIMBCLS;persist security info=True;user id=antasena;Password=Cimbniaga1!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="NawadataSql" connectionString="Password=Cimbniaga1!;Persist Security Info=True;user id=antasena;Initial Catalog=CIMBCLS;Data Source=LAPTOP-26j301to\SQL2016"/>
    <add name="NawadataDevEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LAPTOP-26j301to\SQL2016;Initial Catalog=CIMBCLS;user id=antasena;Password=Cimbniaga1!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="NawadataEntities" connectionString="metadata=res://*/DbObject.csdl|res://*/DbObject.ssdl|res://*/DbObject.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.23.30.14\iditsnd1,1708;Initial Catalog=OneReporting;persist security info=True;user id=antasena;Password=Cimbniaga1!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="NawadataSql" connectionString="Password=Cimbniaga1!;Persist Security Info=True;user id=antasena;Initial Catalog=OneReporting;Data Source=10.23.30.14\iditsnd1,1708"/>
    <add name="NawadataDevEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.23.30.14\iditsnd1,1708;Initial Catalog=OneReporting;user id=antasena;Password=Cimbniaga1!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="RWADAL.My.MySettings.CRISTAConnectionString" connectionString="Data Source=10.23.30.14\iditsnd1,1708;Initial Catalog=OneReporting;Persist Security Info=True;user id=antasena;Password=Cimbniaga1!;Connection Timeout=3600" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <configProtectedData>
    <providers>
      <remove name="RsaProtectedConfigurationProvider"/>
      <add name="RsaProtectedConfigurationProvider" type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" description="Uses RsaCryptoServiceProvider to encrypt and decrypt" keyContainerName="NetFrameworkConfigurationKey" cspProviderName="" useMachineContainer="true" useOAEP="false" useFIPS="true"/>
    </providers>
  </configProtectedData>
  <elmah>
    <security allowRemoteAccess="1"/>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="NawadataSql"/>
  </elmah>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConwnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="en-US" uiCulture="en-US"/>
    <compilation strict="false" explicit="true" targetFramework="4.5" debug="true">
      <assemblies>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
      </assemblies>
      <!--<buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>-->
    </compilation>
    <httpRuntime targetFramework="4.5" executionTimeout="3600" maxRequestLength="102400" requestValidationMode="2.0" enableVersionHeader="false" useFullyQualifiedRedirectUrl="true" requestLengthDiskThreshold="15360"/>
    <!-- This httpHandlers config only required if using IIS6 (or lower) -->
    <httpHandlers>
      <add path="*" verb="OPTIONS" type="System.Web.DefaultHttpHandler" validate="false"/>
    </httpHandlers>
    <!-- This httpModules config only required if using IIS6 (or lower) -->
    <!--

    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
      <add name="FixIIS5xWildcardMapping" type="Elmah.FixIIS5xWildcardMappingModule, Elmah" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </httpModules>-->
    <authentication mode="Forms">
      <forms name="Nawa_WebCookie" loginUrl="~/ChooseApps.aspx" protection="All" timeout="36000" path="/" slidingExpiration="true"/>
    </authentication>
    <pages validateRequest="false">
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext"/>
      </controls>
      <namespaces>
        <add namespace="Ext.Net"/>
        <!--<add namespace="Ext.Net.MVC"/>-->
      </namespaces>
    </pages>
    <sessionState mode="InProc" sqlConnectionString="SampoernaIncentiveSql" timeout="50" allowCustomSqlDatabase="true" regenerateExpiredSessionId="true" useHostingIdentity="false"/>
  </system.web>
  <extnet theme="Crisp" licenseKey="aXJEZXZlbG9wZXJzLmNvbSw0LDIwNTAtMDEtMDE=" initScriptMode="Linked" ajaxTimeout="3600000" showWarningOnAjaxFailure="false"/>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler"/>
      <add name="elmah" verb="POST,GET,HEAD" path="elmah.axd" preCondition="integratedMode" type="Elmah.ErrorLogPageFactory, Elmah"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorTweet" type="Elmah.ErrorTweetModule, Elmah" preCondition="managedHandler"/>
    </modules>
    <defaultDocument>
      <files>
        <add value="ChooseApps.aspx"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
      </customHeaders>
    </httpProtocol>
    <!--<security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>-->
  </system.webServer>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <deny verbs="OPTIONS" users="*"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>