<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NawaDataService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </sectionGroup>
  
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <connectionStrings>
    <add name="NawaDataSql" connectionString="password=N@wadata99$$;Persist Security Info=True;user id=hendra;initial catalog=OneReportingDB;data source=ndsantasena.southeastasia.cloudapp.azure.com;Pooling=False" />
    <add name="NawaDataEntities" connectionString="metadata=res://*/NawaModel.csdl|res://*/NawaModel.ssdl|res://*/NawaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ndsantasena.southeastasia.cloudapp.azure.com;initial catalog=OneReportingDB;persist security info=True;user id=hendra;password=N@wadata99$$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpEndpoint" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/integrasiPelaporan/IMServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpoint" contract="IMServices.IIMServices" name="BasicHttpEndpoint" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <NawaDataService.My.MySettings>
      <setting name="SQLCommandTimeout" serializeAs="String">
        <value>3600</value>
      </setting>
      <setting name="IPServerDatabase" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="IntThreadInterval" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="XMLRPCPort" serializeAs="String">
        <value>1450</value>
      </setting>
      <setting name="StrTempFileDirectory" serializeAs="String">
        <value>D:\Project\Antasena\Development\Source Code\NawadataService\NawaService\bin\Debug\EODSSIS</value>
      </setting>
      <setting name="strTempFileAttachment" serializeAs="String">
        <value>D:\Project\Antasena\Development\Source Code\NawadataService\NawaService\bin\Debug\EODSSIS</value>
      </setting>
    </NawaDataService.My.MySettings>
  </applicationSettings>
 
</configuration>